.img_blog {
    background-image: url("../../images/sheet.png");
  height: 300px;   
    background-repeat: no-repeat;
    background-size: contain;
    padding: 15px 15px 10px 40px;

}

.blog_content {
   margin: 15px;
   font-size: 15px;
}