.img_post {
    background-image: url("../../images/sheet.png");
    width: 400px;  
    height: 350px; 
    background-repeat: no-repeat;
    background-size: contain;
    padding: 30px 15px 10px 40px;

}

.post_content {
   margin: 15px;
   font-size: 15px;
   width: 300px;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.postTitle {
  font-size: 17px;
  font-weight: 700;
  color: rgb(49, 135, 155);
 width: 180px;
}

.linkEdit {
  text-decoration: none;
  color: rgb(36, 125, 145);
  box-shadow: rgb(49, 135, 155) 1px 0 7px;
  border-radius: 10px;
  padding: 5px;
  height: 28px;
  
}

.authorPhoto {
  width: 40px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.postAuthor {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

}

.postText {
  display: flex;
}

.postPhoto {
  width: 60px;
  height: 50px;
  border-radius: 20%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.text {
  font-size: 13px;
}
.dates {
  color: rgb(49, 135, 155);
}

.tags {
  margin-bottom: 10px;
}
