@import "../node_modules/normalize.css/normalize.css";

* {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
    background-image: url('./images/wesley-tingey-AZtMXheXnWc-unsplash.jpg');
	background-size: contain;
	background-repeat: repeat;
}

.container {
	padding: 20px calc(50% - 550px);
	display: flex;
	flex-wrap: wrap;
	
	gap: 20px;
}

.pageTitle {
	font-size: 30px;
	color:white;
	padding: 10px;
	background-color:rgba(49, 136, 155, 0.708);

}
.wellcome {
	padding: 20px;
}

