@import "../node_modules/normalize.css/normalize.css";

* {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
    background-image: url('./images/wesley-tingey-AZtMXheXnWc-unsplash.jpg');
	background-size: contain;
	background-repeat: repeat;
}
main {
	padding: 20px 30px;
}
 
.container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

/* .pageTitle {
	font-size: 30px;
	color:white;
	padding: 10px;
	background-color:rgba(49, 136, 155, 0.708);
} */

.wellcome {
	padding: 20px;
	display: flex;
	justify-content: space-between;
}
.greeting, .createHeader, .signUpTitle, .signInTitle {
	font-size: 25px;
	font-weight: 700;
	color:rgba(4, 38, 46, 0.906);
	text-shadow: rgb(244, 247, 249) 1px 0 7px;
	
}

.btn-create {
	padding: 10px;
	border: none;
	border-radius: 10px;
	font-weight: 600;
	color:rgba(4, 38, 46, 0.906);
	box-shadow: rgb(244, 247, 249) 1px 0 7px;
}

.createForm  {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-image: url("images/sheet.png");
    width: 800px;  
    height: 700px; 
    background-repeat: no-repeat;
    background-size: contain;
    padding: 90px;
	padding-left: 130px;
	
}

.createForm>input, .createForm>textarea, .signUpForm>input, .modal__container>input {
	border: none;
	border-radius: 10px;
	box-shadow: rgba(49, 136, 155, 0.708) 1px 0 7px;
	padding: 5px;

}

.signUpForm {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 25px 10px;
	background-color: rgba(254, 254, 254, 0.66);
	box-shadow: 0 1px 3px white;
	border-radius: 10px;
	margin: 10px 0;
}

.createForm>button, .signUpForm>button, .modal__container>button {
	border: none;
	border-radius: 10px;
	box-shadow: rgba(49, 136, 155, 0.708) 1px 0 7px;
	background-color: rgba(49, 136, 155, 0.708) 1px 0 7px;
	cursor: pointer;
	padding: 5px;
	margin-top: 10px;
}
 
.signUpLink {
    color: rgba(4, 38, 46, 0.906);
	font-size: 18px;
	font-weight: 600;
	margin-top: 10px;
	text-decoration: underline;
	cursor: pointer;
  }

  .infoToCreate {
	font-size: 20px;
	font-weight: 400;
	color:rgb(18, 72, 84);
	text-shadow: rgb(253, 253, 253) 2px 2px 5px;
  }

  .editForm {
	  width: 800px;
	  height: 800px;
	  display: flex;
	  flex-direction: column;
	  gap: 20px;
	  background-color: rgba(255, 255, 255, 0.858);
    padding: 20px;
    box-sizing: border-box;
    /* width: 400px; */
    border-radius: 20px;
	box-shadow: rgb(244, 247, 249) 1px 0 10px;
  }
  .editAuthorInfo {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
  }

  .editAuthor {
	display: flex;
	gap: 20px;
  }

  .editAvatar {
	  width: 100px;
	  border-radius: 35%;
  }

  .editAuthorName {
	  font-size: 20px;
	  font-weight: 700;
	  color:rgba(12, 50, 58, 0.975);
	  text-decoration: underline;
	  cursor: pointer;
  }

.editTitle {
	font-size: 25px;
	font-weight: 700;
	color: rgb(43, 135, 156);
	width: 100%;
	text-align: center;
}

.editImage {
	height: 300px;
	border-radius: 20px;
	object-fit: contain;
}

.editText {
	border: none;
	border-radius: 20px;
	padding: 10px;
}
