@import "../node_modules/normalize.css/normalize.css";

* {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
	height: 100%;
}
body {
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
    background-image: url('./images/wesley-tingey-AZtMXheXnWc-unsplash.jpg');
	background-size: contain;
	background-repeat: repeat;
	min-height: 100%;
	display: flex;
  flex-direction: column;
  flex-grow: 1;

	/* position: relative; чтобы футер приклеить */
}
main {
	display: flex;
	justify-content: center;
	padding: 20px;
	min-height: calc(100vh - 110px);
	
}
.wrapper {
	padding: 0px;
	margin: 0px;
}
 
.container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
.editComments {
display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
}

/* .pageTitle {
	font-size: 30px;
	color:white;
	padding: 10px;
	background-color:rgba(49, 136, 155, 0.708);
} */

.wellcome {
	padding: 20px 10px;
	/* padding: 20px calc(50% - 500px); */
	display: flex;
	justify-content: space-between;
}
.greeting, .createHeader, .signUpTitle, .signInTitle, .pagin_text {
	font-size: 25px;
	font-weight: 700;
	color:rgba(4, 38, 46, 0.906);
	text-shadow: rgb(244, 247, 249) 1px 0 7px;	
}

.pagin_text {
	margin: 5px;
	font-size: 20px;
}

.pagination {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.page {
	border-radius: 7px;
	box-shadow: rgb(244, 247, 249) 1px 0 7px;
	border: none;
	margin-right: 8px;
	margin-top: 5px;
	padding: 5px 7px;
	font-weight: 600;
}

.pag_active {
	background-color: rgba(43, 126, 146, 0.577);
	box-shadow: rgba(59, 172, 201, 0.714);
}

.btn-create {
	padding: 10px;
	border: none;
	border-radius: 10px;
	font-weight: 600;
	color:rgba(4, 38, 46, 0.906);
	box-shadow: rgb(244, 247, 249) 1px 0 7px;
}

.createForm  {
	display: flex;
	flex-direction: column;
	gap: 8px;
	background-image: url("images/sheet.png");
    width: 800px;  
    height: 630px; 
    background-repeat: no-repeat;
    background-size: contain;
    padding: 90px;
	padding-left: 130px;
}

.createForm>input, .createForm>textarea, .signUpForm>input, .modal__container>input, .profileText>input {
	border: none;
	border-radius: 10px;
	box-shadow: rgba(49, 136, 155, 0.708) 1px 0 7px;
	padding: 5px;
}

.profileText>input {
width: 300px;
}

.signUpForm {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 25px 10px;
	background-color: rgba(254, 254, 254, 0.66);
	box-shadow: 0 1px 3px white;
	border-radius: 10px;
	margin: 10px 0;
}

.createForm>button, .signUpForm>button, .modal__container>button, .editButtons>button, .profileButtons>button, .editAddCommentBtn {
	border: none;
	border-radius: 10px;
	box-shadow: rgba(49, 136, 155, 0.708) 1px 0 7px;
	background-color: rgba(49, 136, 155, 0.708) 1px 0 7px;
	cursor: pointer;
	padding: 5px;
	margin-top: 10px;
}

 .editAddCommentBtn {
	 margin: 0;
	 padding: 6px 13px;
	 box-shadow: rgba(234, 239, 240, 0.708) 1px 0 7px;
	background-color: rgba(49, 136, 155, 0.708) 1px 0 7px;
 }

 .profileButtons>button {
	width: 100px;
	box-shadow: rgb(35, 119, 134) 1px 0 10px;
}

.editButtons>button {
	width: 100px;
	box-shadow: rgba(234, 239, 240, 0.708) 1px 0 7px;
}
 
.signUpLink {
    color: rgba(4, 38, 46, 0.906);
	font-size: 18px;
	font-weight: 600;
	margin-top: 10px;
	text-decoration: underline;
	cursor: pointer;
  }

  .infoToCreate {
	font-size: 20px;
	font-weight: 400;
	color:rgb(18, 72, 84);
	text-shadow: rgb(253, 253, 253) 2px 2px 5px;
  }

  .editForm {
	  width: 800px;
	  /* height: 800px; */
	  display: flex;
	  flex-direction: column;
	  gap: 20px;
	  background-color: rgba(255, 255, 255, 0.858);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
	box-shadow: rgb(244, 247, 249) 1px 0 10px;
  }

  .profileForm {
	width: 600px;
	height: 300px;
	display: flex;	
	flex-direction: column;
	gap: 20px;
	background-color: rgba(255, 255, 255, 0.858);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: rgb(244, 247, 249) 1px 0 10px;
  }

  .profileInfo {
	display: flex;	
	gap: 20px;
}

  .profileText {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  gap: 20px;
  }

  .editAuthorInfo {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
  }

  .editAuthor, .likesWrapper {
	display: flex;
	gap: 20px;
	align-items: center;
  }

  .likesWrapper {
	  margin: 10px 0;
  }

  .total_editComments {
	margin: 20px 0;
	font-size: 20px;
	font-weight: 800;
	color: rgb(10, 57, 68);
	text-shadow: rgb(255, 255, 255) 1px 0 7px;
  }

  .editAvatar {
	  width: 100px;
	  border-radius: 35%;
	  object-fit: cover;
  }

  .profileAvatar {
      width: 200px;
	  height: 200px;
	  border-radius: 30px;
	  object-fit: cover;
  }

  .editAuthorName {
	  font-size: 20px;
	  font-weight: 700;
	  color:rgba(12, 50, 58, 0.975);
	  
  }

.editTitle {
	font-size: 25px;
	font-weight: 700;
	color: rgb(19, 110, 130);
	width: 100%;
	text-align: center;
}

.editImage {
	height: 300px;
	width: 500px;
	border-radius: 20px;
	object-fit: cover;
	margin: 0 calc(50% - 380px);
}

.editImageWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.editText {
	border: none;
	border-radius: 20px;
	padding: 10px;
}

.editButtons, .profileButtons {
	display: flex;
	margin: 10px 0 20px 0;
	justify-content: center;
	gap: 20px;
}


.editBan, .editLikeBan {
    padding: 10px;
    box-sizing: border-box;
	font-size: 20px;
	font-weight: 600;
	color: rgb(10, 57, 68);
	margin: 10px 0;
	text-shadow: rgb(255, 255, 255) 1px 0 7px;
}

.editLikeBan {
    color: rgb(167, 35, 35);
	margin-left: 10px;
}

.fa-solid.fa-heart {
	color: red;
}

.editLike {
	display: flex;
	padding: 5px 15px;
	margin: 0;
	gap: 10px;
	font-size: 17px;
	background-color: rgba(255, 255, 255, 0.666);
    display: inline-block;
    border-radius: 10px;
	box-shadow: rgb(244, 247, 249) 1px 0 10px;
}

.postTag {
  background-color: rgba(29, 171, 203, 0.288);
  padding: 0 5px;
  margin: 0 5px;
  border-radius: 5px;
}

.writeComment {
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin: 10px calc(50% - 400px);
	gap: 20px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.564);;
}

.writeComment>textarea {
	border: none;
	border-radius: 20px;
	padding: 20px;
	width: 100%;
}

.writeComment>button {
	border: none;
	border-radius: 20px;
	padding: 8px;
	box-shadow: rgba(24, 119, 138, 0.884) 1px 0 7px;
	cursor: pointer;
	width: 120px;
}