.create_modal {
    box-shadow: 0 0 5px 0 #0006;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(38, 86, 101, 0.749);
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.create_modal.create_active {
    visibility: visible;
}
.create_modal__container {
    background-color: rgba(255, 255, 255, 0.858);
    padding: 32px;
    box-sizing: border-box;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.08), 0px 20px 32px rgba(96, 97, 112, 0.24);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.modalBtnOk {
    border: none;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.557), 0px 20px 32px rgba(96, 97, 112, 0.24);
}
/* .signUp_modal__close {
 
    cursor: pointer;
    box-shadow: 0 0 5px 0 #0006, 0 0 15px 0 #0004;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.66);
} */